<div class="row">
  <div class="col-xs-6 ml-auto">
    <%= gravatar_for @user, 300, "img-circle" %>
  </div>
  <div class="col-xs-6 mr-auto">
    <h2><%= @user.username ? @user.username : @user.email %></h2>
  </div>
</div>

<hr>

<h6 align="center"><%= @user.username ? @user.username : @user.email %>'s posts</h6>

<div id="post">
  <% @user.posts.each do |post| %>
    <div class="row">
      <figure class="figure mx-auto">
        <!-- <img src="..." class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure."> -->

        <%= link_to (image_tag post.image.url), post, class: "figure-img img-fluid rounded" %>
        <figcaption class="figure-caption text-left">
            <p><%= post.description %></p> 
            <small>Uploaded by: <%= post.user.email if post.user %>,
                          <%= time_ago_in_words(post.created_at) %> ago,
                          last updated: <%= time_ago_in_words(post.updated_at) %> ago </small>
            <% if user_signed_in? && current_user == post.user %>
              <div id="btn-theme" class="float-right">
                <%= link_to "X", post, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-sm", style: "border-radius:50%; height: auto; margin-bottom: 10px; background-color:#aa9888; color: cornsilk; border: 0px;" %>
              </div>
            <% end %>
        </figcaption>
      </figure>
    </div>
   <% end %> 
</div>