<%= render 'layouts/error_messages', obj: @post %>

<div class="row">
  <div class="col-xs-12 mx-auto">
    <div id="form">
      <div class="panel panel-default mx-auto text-left">
        <div class="panel-heading">
           <h2>Share photo</h2>
        </div>
        <div class="panel-body">
          <%= form_for @post, html: { multipart: true } do |f| %>
            <div class="form-group">
              <%= f.label :image %>
              <%= f.file_field :image, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :description, value: "Caption" %>
              <%= f.text_area :description, class: "form-control" %>
            </div>
            <div id="btn-theme">
              <%= f.submit "Upload", class: "btn btn-outline-dark float-right" %>
            </div>
          <% end %>
        </div><br>
        <div class="panel-footer"> 
        </div>
      </div>
    </div>
  </div>
</div>


