<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
  <div class="container">
    <!-- <a class="navbar-brand" href="#">Start Bootstrap</a> -->
    <%= link_to "<i class='fa fa-instagram' style='font-size:28px;color:white'></i> &nbsp; Instagramark".html_safe, posts_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Actions
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%- if user_signed_in? && current_user %>
              <%= link_to "New Post", new_post_path, class: "dropdown-item" %>
              <div class="dropdown-divider"></div>
            <% end %>
              <%= link_to "<i class='fa fa-search'></i> &nbsp; Find People".html_safe, find_people_path, class: "dropdown-item" %>
          </div>
        </li>
    </ul>

      <ul class="navbar-nav ml-auto">
        <%- if user_signed_in? && current_user %>
        <li class="nav-item">
          <%= link_to "<i class='fa fa-user' style='font-size:24px'></i>".html_safe, user_path(current_user), class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Following", following_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Home", authenticated_root_url, class: "nav-link" %>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to "Edit Account", edit_user_registration_path, class: "dropdown-item"%>
            <div class="dropdown-divider"></div>
            <%= link_to "Logout", destroy_user_session_path, method: :delete, data: { confirm: "Are you sure?" }, class: "dropdown-item"%>
          </div>
        </li>
        <% else %>
        <li class="nav-item">
          <%= link_to "Log in", new_user_session_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Register", new_user_registration_path, class: "nav-link" %>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>